node_modules

.github
.ci_steps
.husky

dist/tests

tsconfig.json
tsconfig.eslint.json

jest.config.js

ios/TyroPayApiReactNative
ios/TyroPayApiReactNativeTests
ios/TyroPayApiReactNativeUnitTests
ios/TyroPayApiReactNative.xcodeproj/*
ios/Pods
ios/TyroPayApiReactNative.xcworkspace
xcuserdata
ios/.xcode.env
ios/build

android/build
android/gradle
android/gradlew
android/gradlew.bat
android/local.properties
android/app

**.spec.**

**.tgz

